@import "../css/catppuccin.css";

body {
  color: var(--ctp-mocha-text);
  background: var(--ctp-mocha-base);
}

a {
  color: var(--ctp-mocha-rosewater);
}

img {
  width: 500px;
  height: auto;
}
